<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {{ fontawesome_html() }}
</head>
  

<header>
      <nav class="nav">
        <a href="/" class="navbar-brand">LOGO</a>

        <div class="hamburger">
          <span class="fa fa-bars fa-2x"></span>
        </div>

        <div class="nav__link hide">
          <a href="#">ABOUT</a>
          <a href="#">CONTACT</a>
          <a href="#">EVENTS</a>
          <span class="mobile-search">
            <input style="display: none;" class="mobile_search_bar" type="text" placeholder="Search..">
          </span>
          <span class="search">
            <a href="#" class="searchLink"><i class="fa fa-search"></i></a>
            <div id="searchDiv" style="display: none;">
              <input class="search_bar" type="text" placeholder="Search..">
            </div>
          </span>
        </div>
      </nav>
</header>
<script src="static/js/nav.js"></script>


  <body>

        {% block content %}
        {% endblock %}

  </body>
</html>
