{% extends "base.html" %}
  {% block content %}
    <div class="first_page">
      <div class="container">
      </div>

   </div>
      <div class="second_page">
        <p>Lorem Ipsum
          "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
          "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis molestie ligula sed volutpat. Nulla quis efficitur purus. Vestibulum interdum quam eu mattis vehicula. Morbi fermentum ultricies luctus. Nulla felis odio, egestas ac elit in, accumsan venenatis augue. Nunc metus velit, molestie non lacinia nec, mollis ut metus. Quisque id massa eu diam pellentesque fermentum sit amet eu magna. Maecenas imperdiet tincidunt sem vitae molestie.
          
          Proin a libero quis nunc euismod volutpat. Proin ullamcorper congue venenatis. Duis non justo et sapien rhoncus mollis. Donec consequat libero ligula, at tempus velit sodales et. Maecenas porttitor at augue quis dignissim. Nam auctor mollis justo sit amet posuere. Vestibulum eleifend pharetra lectus at efficitur.
          
          Vestibulum lectus diam, tincidunt nec nulla eget, sollicitudin laoreet est. Nunc elit lectus, mattis gravida scelerisque tincidunt, aliquet ut metus. Sed tortor justo, lobortis sit amet lectus quis, rutrum porta nisi. Phasellus cursus ultrices tellus, ac pharetra leo lobortis vitae. Aenean tempus consequat leo ut bibendum. Praesent feugiat purus dui, eu blandit dolor egestas sit amet. Phasellus ultricies diam at dapibus pellentesque. Donec sagittis eget erat id dictum. Curabitur vitae congue lectus.
          
          Maecenas consequat nulla vitae nisl tempor tincidunt. Cras at elit eget risus ullamcorper sagittis sit amet sit amet leo. Cras sed bibendum nisl. Vivamus viverra metus vel dictum tempor. Aliquam porttitor arcu risus, non iaculis purus iaculis id. Aenean ornare bibendum elit eu pulvinar. Pellentesque neque nisl, euismod sit amet egestas non, consequat ac orci. Nulla facilisi. Integer placerat nibh sed ligula porta, in molestie erat porttitor. Nunc vitae tellus feugiat, fringilla justo vitae, laoreet urna.
          
          In ac imperdiet metus, at luctus ex. Sed accumsan dui in felis mattis, sed fringilla mauris tempor. Mauris placerat lorem vel tortor lobortis, ac imperdiet ligula efficitur. Donec sit amet leo nulla. In eu rutrum lacus. Sed faucibus molestie fermentum. Aenean eros lorem, elementum quis purus sit amet, laoreet malesuada mauris. Morbi congue sagittis hendrerit. Vivamus a metus arcu. Fusce viverra justo non aliquet tempus. Nullam sed erat interdum, vestibulum erat in, sollicitudin libero. Etiam sed dignissim ex, id tristique augue. Cras bibendum pulvinar nibh a lacinia. Nam vel iaculis neque.</p>        
        </p>

      </div> 

  
  {% endblock %}

